[Unit]
Description=Podman container-ikapiar-backend.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman start ikapiar-backend
ExecStop=/usr/bin/podman stop -t 10 ikapiar-backend
ExecStopPost=/usr/bin/podman stop -t 10 ikapiar-backend
Type=forking

[Install]
WantedBy=default.target